[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sqlsorcery = "*"
jinja2 = "*"
pydrive = "*"
pdfkit = "*"
flask = "*"
pypdf2 = "*"
tenacity = "*"

[requires]
python_version = "3.8"